<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header id="header">
        <h1 id="title">The Tech Blog</h1>
        <nav>
            <ul class="links">
                {{#if logged_in }}
               <li class="homepage-link"><a href="/">Homepage</a></li>
                <li class="dashboard-link"><a href="/dashboard">Dashboard</a></li>
                <li class="logout-link"><a class="logout" href="/">Logout</a></li>
                {{else}}
                <li class="login-link"><a href="/login">Login</a></li>
                <li class="signup-link"><a href="/signup">Sign Up</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    
    <script src="/js/logout.js"></script>
</body>
</html>

