<main>
  <form class="login">
    <h2 class="login-title">Please Login</h2>
    <div class="email">
      <label for="inputEmail">Email address</label>
      <input
        id="email-login"
        type="email"
        class="email-value form-control"
        id="userEmail"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="password">
      <label for="exampleInputPassword1">Password</label>
      <input
        id="password-login"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="login-btn btn btn-primary">Login!</button>
  </form>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/login.js"></script>