{{!-- <div class="post">
  <input class="postTitle" type="text" placeholder="Title" />
  <input class="postDescription" type="text" placeholder="Description" />
  <button type="post" class="btn btn-primary post-btn">Post</button>
</div> --}}

<div>
  <h3>Create New Post</h3>

  <form class="new-post">
    <div class="title">
      <label for="post-title">Post Title:</label>
      <input type="text" class="post-title" name="post-title"/>
    </div>
    <div class="post-desc">
      <label for="post-desc">Post Description</label>
      <input type="text" class="post-desc" name="post-desc"/>
    </div>
    <div>
      <button type="submit" class="post-submit">Create</button>
    </div>
  </form>
</div>

<script src="../public/js/dashboard.js"></script>