<div class="post">
  <input class="postTitle" type="text" placeholder="Title" />
  <input class="postDescription" type="text" placeholder="Description" />
  <button type="post" class="btn btn-primary post-btn">Post</button>
</div>