body {
    width: 100%;
    background-color: rgb(155, 155, 151);
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header {
    width: 100%;
    display: flex;
    flex-direction: row;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    width: 450px;
    padding: 20px;
    height: 10px;
    margin-right: 20px;
    margin-bottom: -2px;
}
nav a {
    color: rgb(27, 37, 43);
}
.login {
    margin-top: 100px;
    margin-left: 450px;
    margin-top: 150px;
    padding: 20px;
    width: 30%;
    text-align: center;
   border: 3px solid black;
}

#emailHelp {
    font-size: 10px;
    margin-top: 0px ;
}

.btn {
    padding: 3px;
    width: 100px;
    margin: 30px;
}

.email {
    font-size: larger;
}

.password {
    font-size: larger;
}
.signUp {
    text-decoration: underline;
}
.card {
    width: 80%;
    padding: 5px;
    margin-left: 70px;
    border: 3px solid black;
    text-align: center;
}
.postTitle {
    width: 80%;
    height: 40px;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    background-color: rgb(158, 159, 160);
    color: black;
}
.postDescription {
    width: 80%;
    height: 60px;
    font-size: large;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(158, 159, 160);
    color: black;
    margin-top: 5px;
    text-align: center;
}
.post-btn {
    margin-left: 450px;
    width: 30%;
    height: 30px;

}
.create-btn {
    width: 100px;
    margin-top: 400px;
    margin-left: 600px;
    background-color: rgb(106, 105, 114);

}